.tool-section {
  /* border: 1px solid red; */
  /* height: 50px; */
  margin: 10px 10px 0 10px;
  padding: 5px;
}

.file-section {
  /* border: 1px solid green; */
  width: 70%;
  margin: 10px 10px 10px 5px;
  padding: 5px;
}

.file-input-section {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  height: calc(100vh - 95px);
}

.input-section {
  /* border: 1px solid yellow; */
  width: 30%;
  overflow: auto;
  margin: 10px 5px 10px 10px;
  padding: 5px;
}
.input-field {
}

.password-btn {
  background: transparent !important;
  border: none !important;
}

#userPasswordInput {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.card-body {
  padding: 0.5rem 0.5rem !important;
}

.tool-section .row {
  margin: 0 !important;
}
.tool-section .col-sm {
  margin: 0 10px;
}
